<?xml version="1.0"?>
<launch>

  <!-- This launch file launches the independent dynamixel controllers and the robotnik_ptu nodes that will accept 
       commands from the robotnik JointActionServer rt_traj_exe -->

  <!-- launch dynamixel servo controller -->
  <include file="$(find robotnik_ptu)/launch/rtc/start_controllers.launch"/>
  <include file="$(find robotnik_ptu)/launch/controller_manager.launch"/>  

  <!-- launch trajectory action server rt_traj_exe -->
  <include file="$(find robotnik_ptu)/launch/rtc/robotnik_traj_control/robotnik_trajectory_control.launch"/>


</launch>

