<?xml version="1.0"?>
<launch>

  <!-- Launch RGBD -->
  <include file="$(find robotnik_ptu)/launch/xtion_rgbd.launch"/>

  <!-- launch PTU RTC for controlling the axes via the robotnik rt_traj_exe (much better) -->
  <include file="$(find robotnik_ptu)/launch/rtc/robotnik_ptu_rtc.launch"/>

  <!-- launch PTU Dynamixel for controlling the axes via the dynamixel joint trajectory controller (accepts only trajs for all axes)-->
  <!-- include file="$(find robotnik_ptu)/launch/dynamixel/robotnik_ptu_dynamixel.launch"/-->

</launch>

